

.footer {
  position: fixed;
  bottom: 0;
  
  width: 100%;
  
  background-color: rgba(85, 85, 85, 0.5) !important;
  z-index: 100;
  color: rgb(255, 136, 0) !important;
}

.bottomnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
}

.bottom-nav-arrows {
  display: flex;
  flex-direction: row;
  justify-content: centre;
  align-items: middle;
  
}